# ========================
# 1. SYSTEMOWE I EDYTORY
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log

# ========================
# 2. FIRMWARE (Arduino/ESP32)
# ========================
# Pliki tymczasowe kompilacji
*.elf
*.bin
*.hex
*.o
*.a
*.d

# Hasła i sekrety (BARDZO WAŻNE)
secrets.h
**/secrets.h

# ========================
# 3. WEB (weather-station-web)
# ========================
node_modules/
**/node_modules/

# Pliki środowiskowe (Hasła)
.env
.env.local
.env.*.local
*.env

# Buildy produkcyjne
/dist/
/build/
.next/
.nuxt/

# Logi błędów
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# 4. ANDROID (weather-station-android)
# ========================
# Pliki budowania Gradle
.gradle/
**/build/
captures/

# Lokalne ustawienia (ścieżki do SDK, klucze)
local.properties

# Android Studio - pliki tymczasowe
.externalNativeBuild/
.cxx/

# Pliki wynikowe (aplikacje)
*.apk
*.aab
*.ap_

# Sklepy kluczy (NIGDY nie wrzucaj!)
*.jks
*.keystore
*.p12
*.key


**/weather-station-android/.env
**/weather-station-android/.env.local